/* Button styles */
.btn {
    position: absolute;
    width: 147px;
    height: 50px;
    background: #57B7C2;
    border-radius: 25px;
    font-family: inherit;
  }
  
  .btn:hover{
    border: 1px solid white;
    background-color: #003140;
    color: white;
  }

.error{
    color: red;
    padding-top: 3px;
}

.input{
    position: absolute;
    width: 525px;
    height: 50px;

    background: #FFFFFF;
    border-radius: 5px;
    padding:0px 10px;

    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #BDBDBD;
}

  